**/bin/Debug/
**/bin/Release/
**/obj/

.vscode
*.v2
.vs/tareas/v16/.suo

*.csv
.vs/

.ionide/
logs/

IntegrationTest/TestResults/
FunctionalTests/TestResults/
UnitTests/TestResults/

Identity/mvc-login/.gradle/
Identity/mvc-login/build/
